body{
    background-color:#353535 ;
}
.A{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    padding: 20px;
}
.bildes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.bilde{ 
    margin: 10px;
    text-align: center;
}
