body{
    background-color: #353535;
}
.a{
    margin: 15px;
    border-width: 50px;
    border: aliceblue;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container video {
    width: 50%;
    height: auto;
  }
