body{
    background-color: #353535;
}
.A{
    font-family: 'Space Grotesk', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}
.a{
    font-family: 'Space Grotesk', sans-serif;
    color: aliceblue;
    font-size: 70px;
    text-align: center;
}
.b{
    font-family: 'Space Mono', monospace;
    size: 30px;
    font-style: italic;
    color: aliceblue;
    text-align: center;
    margin: 10px;

}
.izvelne a{
    display:block;
}

