body{
    background-color: #353535;
}
.column {
    float: left;
    width: 20%;
    padding: 15px;
  }
.h2{
    color: aliceblue;
    font-style: bold;
    
}
.p{
    color: aliceblue;
}
.i{
    color: aliceblue;
}
