body{
    background-color: #353535;
}
.A{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}
.a{
    color: aliceblue;
    font-size: 70px;
    text-align: center;
}
.b{
    size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    color: aliceblue;
    text-align: center;
    margin: 10px;

}
