body{
    background-color: #353535;
}
  h1{
    color: aliceblue;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .b{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .a{
    margin: 5px;
  }
