body{
    background-color: #353535;
}
.A{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}
.a{
    color: aliceblue;
    font-size: 70px;
    text-align: center;
}
.B{
    size: 40px;
    color: aliceblue;
    margin: 10px;
}