body{
    background-color: #353535;
}
  h1{
    font-family: 'Space Grotesk', sans-serif;
    color: aliceblue;
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-align: center;
    font-size: 40px;
  }
  .b{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .a{
    margin: 10px;
}
section{
    background-color: #2d2d2d;
    padding: 8px;
}
