body{
    background-color:#353535 ;
}
.A{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}
.bildes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.bilde1{ 
    margin: 10px;
    text-align: center;
}
.bilde2{
    margin: 10px;
    text-align: center;
}
.bilde3{
    margin: 10px;
    text-align: center;
}
.bilde4{
    margin: 10px;
    text-align: center;
}
.bilde5{
    margin: 10px;
    text-align: center;
}
.bilde6{
    margin: 10px;
    text-align: center;
}
.bilde7{
    margin: 10px;
    text-align: center;
}
